@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Science Gothic";
  src: url("../assets/fonts/ScienceGothic-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Science Gothic";
  src: url("../assets/fonts/ScienceGothic-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal;
}
