@use "../src/styles/mixins.scss" as *;

.App {
  min-height: 100vh;
  background-color: #0d1117;
  position: relative;
  overflow: hidden;
}

.App > *:not(.spot) {
  position: relative;
  z-index: 10;
}

.spot {
  content: "";
  position: absolute;
  z-index: 0;
  opacity: 0.4;

  width: 40%;
  height: 40%;
  filter: blur(500px);

  &:nth-child(1) {
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: floatBlobCenter 10s infinite alternate ease;
  }
  &:nth-child(2) {
    background-color: #00e1ff;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    animation: floatBlobs 7s infinite alternate ease;
  }
  &:nth-child(3) {
    background-color: #00e1ff;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    animation: floatBlobs 7s infinite alternate ease;
  }
  &:nth-child(4) {
    background-color: #00e1ff;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    animation: floatBlobs 7s infinite alternate ease;
  }
  &:nth-child(5) {
    background-color: #00e1ff;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    animation: floatBlobs 7s infinite alternate ease;
  }
}

@keyframes floatBlobCenter {
  0% {
    opacity: 0;
    background-color: var(--center-spot-start);
  }
  100% {
    opacity: 0.4;
    background-color: var(--center-spot-end);
  }
}

@keyframes floatBlobs {
  0% {
    background-color: var(--spot-start);
  }
  100% {
    background-color: var(--spot-end);
  }
}
