.dropdown {
  position: relative;
  &__trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem 1rem;
    border-radius: 1rem;

    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #ffffff;
    font-weight: 100;
  }

  &__menu {
    position: absolute;
    right: 0;
    padding: 0.25rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
    border-radius: 1rem;
    background-color: rgba(15, 18, 26, 0.9);

    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s ease;

    &.close {
      opacity: 0;
      transform: translateY(-10px);
      pointer-events: none;
    }
  }

  &__item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.75rem 1rem;
    font-size: 0.875rem;

    border-radius: 0.75rem;
    color: #94a3b8;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      color: #fff;
    }
  }
}
